a.btn {
    text-decoration: none;
}

.btn {

    padding: 10px 20px;
    border: none;
    border-radius: 8;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.btn-mobile {

    font-size: 1.5rem;
}

.fa-solid fa-bars {

    color: var(--text-color);
}

.btn-default {

    background-color: var(--primary-color);
    color: var(--neutral-0);
    border-radius: 10px;

    &:hover {
        background-color: var(--secondary-color);
    }
}